#firstSlider {
  height: 20%;
  object-fit: cover;
}

#seccondSlider {
  height: 20%;
  object-fit: cover;
}

#thirdSlider {
  height: 20%;
  object-fit: cover;
}

#div_absolute {
  border: 3px solid #8ac007;
}

#homeImg {
  display: block;
  width: 100%;
  height: auto;
}

#quoteBox {
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: 20vw;
  margin-right: 20vw;
  position: relative;
  float: center;
  text-align: center;
}
#textPic1 {
  color: grey;
  text-align: justify;
}
#textPic2 {
  color: grey;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
}
#containsMedia {
  padding-left: 1vw;
  padding-right: 1vw;
}
#everythingUnderQuote {
  padding-left: 7vw;
  padding-right: 7vw;
  padding-bottom: 4vw;
  padding-top: 1vw;
}
/* .grid-container {
  display: grid;
  grid-template-columns: 0.7fr 1.4fr 0.8fr 1.1fr;
  grid-template-rows: 0.2fr 1fr 1.4fr 1.4fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . . ." " . . founderImg ." ". founderText . ." ". . . ." ". . . .";
}


*/

#meetTheBoard {
  padding: 2vw;
  margin-left: 23vw;
  margin-right: 23vw;
}
